/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.main__task, .main__field-add {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.main__block-add {
  display: flex;
}

.main__block {
  margin: 0;
  padding: 0px;
}

.main__block-item, .main__title {
    list-style: none;
}

 .main__field-task, .main__field-add, .main__checkbox-task, .main__button, .main__button_edit, .main__button_delete{
  outline: none;
}

.main__button, .main__button_edit, .main__button_delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.main__button:hover {
  color: #3a3a3a;
}

/* Heading */
.main__title{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.main__field-task, .main__field-add {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.main__field-task:focus {
  color: #333;
}

/* New Task */
.main__title {
  display: block;
  margin: 0 0 20px;
}

.main__field-add {
  width: 318px;
}

/* Task list */
.main__block-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__checkbox-task,
.main__label-task,
.main__field-task,
.main__button {
  vertical-align: middle;
}

.main__checkbox-task {
  margin: 0 10px;
}

.main__label-task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.main__field-task {
  width: 226px
}

.main__button-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.main__button-img:hover {
  transform: rotateZ(0);
}

/* Completed */
ul#completed-tasks label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.main__field-task {
  display: none
}

ul .main__block-edit input[type=text]{
  display: inline-block;
  width: 224px
}

ul .main__block-edit label {
  display: none;
}